<div class="container">
    <script></script>
    <div class="row justify-content-center">
      <div class="col-md-10 ticket ">
          <h1 class="text-center pt-3 pb-3 "> Thank you for using BusBook      </h1>
          <table class="table ">
     <thead>
      <td class="text-capitalize">{{Source_}} <span> --></span> {{Destination}}</td>
      <td>{{ currentDate | date: 'dd/MM/yyyy' }}</td>
      <td>BusBook</td>
     </thead>  
          </table>
          <table class="table ps_details">
            <tr>
              <th>Passenger Details</th>
              <th>Seat No</th>
              <th>Total Fare</th>             
            </tr>
            <tr>
              <td><b>{{fullname}}</b> <br>
                <span></span> <br>
                <span></span>
              </td>
              <td>{{seats}}</td>
              <td>{{total}}</td>
            </tr>
          </table>
          <table class="table ps_details ">
            <tr>
              <th>Bus Name</th>
              <th>Reporting Time </th>
              <th>Departure Time</th>
            </tr>
            <tr>
              <td>{{BusName}} <br>
              <span> <em>Bus No: </em>{{BusNo}} </span>
              </td>
              <td>Before 30 minutes</td>
              <td>{{StartTime}}</td>
            </tr>
          </table>
      </div>
      <div class="row">
        <p style="color:red">** Please Bring this copy to ticket counter for collect your ticket </p>&nbsp;<br>
      </div>
      <br>
      <br>
      <br>


      


      <div class="row" style="padding-top: 25px;padding-left: -150px;">
        <div class="column">
        <button type="button" class="btn btn-warning"
            (click)="generatePDF('download')">Download Invoice</button></div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="column">
        <button type="button" class="btn btn-warning"
            (click)="generatePDF('print')">Print
            Invoice</button></div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="column">
        <button type="submit" class="btn btn-warning"
            (click)="generatePDF()">Open
            Invoice</button></div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="column">
              <button type="submit" class="btn btn-warning"
              (click)="feedback()">Feedback</button>
            </div>
      </div>

    </div>
  </div>