

<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content" style="height: 100%;">
        <div class="row">
            <!--<div class="col-md-4">
                <h1 style="color:white"> Wallet Details</h1>
            </div>-->
            <div class="col-md-6" style="padding-top: 100px;padding-bottom: 250px;">
                <strong style="color:white; font-size:30px; border:0px;">Wallet Balance</strong><br>
                <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>

                        <tr *ngFor="let user of walletdetailsarr" class="noBorder">        
                            
                            <td class="text-primary">
                                <p style="font-size:25px"> ₹ {{user.WalletDetails}} </p>    
                            </td>
                            <!--<td><button class="btn btn-default" data-toggle="modal" data-target="#myModal" (click)="open(content)"><span class="glyphicon glyphicon-plus"></span></button></td>-->
                            <td><button class="btn btn-default" [routerLink]="['/userdashboard/walletupdatemodal']" routerLinkActive="selected"><span class="glyphicon glyphicon-plus"></span></button></td>
                        </tr>
                                                      
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-container"> <!---->
    <router-outlet></router-outlet>
</div>
