

<div class="form-gap"></div>
<div class="container" id="outer-panel">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" id="panel1">
              <div class="panel-body" >
                <div class="text-center">
                
                  <h2 class="text-center" style="color: white">Change Password?</h2>
                  <p style="color: white">You can change your password here.</p>
                  <div class="panel-body">
    
                    <form  role="form" autocomplete="off" class="form" method="post"  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div>
                        <div class="form-group">
                            <label style="color: white">Old Password</label>
                            <input type="password" formControlName="oldpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" />
                            <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                                <div *ngIf="f.oldpassword.errors.required">Password is required</div>
                                <div *ngIf="f.oldpassword.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: white">New Password</label>
                            <input type="password" formControlName="Password_" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="color: white">Confirm Password</label>
                            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    </div>

                        <div class="form-group">
                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Change Password" type="submit">
                          </div>

                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
