<div class="about-section">
    <h1>About Us </h1>
    <p>Embeded self-serviced bus ticketing system to let visitors book bus tickets online.</p>
    <p></p>
  </div>
  <div>
  <h2 style="text-align:center">Our Team</h2>
  
  <div style="padding-left: 350px;">
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Dharmi Mehta</h2>
          <p class="title">Team Member</p>
          <p></p>
          <p>dharmimehta@lntinfotech.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" id="card">
        <div class="container">
          <h2>Juman Das</h2>
          <p class="title">Team Member</p>
          <p>jumandas@lntinfotech.com</p>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="card" id="card">
          <div class="container">
            <h2>Ronak Parmar</h2>
            <p class="title">Team Member</p>
            <p>ronak.parmar@lntinfotech.com</p>
          </div>
        </div>
      </div>
    
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Gunjan Lund</h2>
          <p class="title">Team Member</p>
          <p></p>
          <p>gunjanlund@lntinfotech.com</p>
        </div>
      </div>
    </div>
</div>  
</div>